@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

/*iframe {
  width: 100%;
} */

/* Font */

* {
  font-family: "Lato", sans-serif;
  font-size: 18px;
  line-height: 1.5em;
}

/* Header     */

header {
  background-image: url("https://images.unsplash.com/photo-1522171474046-58bcd565d866?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60");
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 40px;
  /* margin: 20px 60px 20px 60px;*/
}

h1 {
  color: black;
  text-align: center;
  padding-top: 20px;
  font-size: 52px;
  margin: 0;
  font-family: Lato;
}

.headshot {
  width: 100px;
  height: 113px;
  float: left;
}

/* The navigation bar */
header nav {
  background-color: #333;
  display: flex;
  justify-content: center;
}

header nav ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-bottom: 0;
}

header nav ul li {
  list-style-type: none;
}

header nav ul li a {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

body {
  background-color: #ddd;
  margin: 20px 60px 20px 60px;
  line-height: 1.5rem;
}

section {
  border-bottom: #333 1px solid;
}

img {
  width: 100%;
}

/* Porfolio section     */
/*   (Mobile First) */
.wrapper {
  width: 100%;
}

.group {
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
}

.project {
  flex: 1;
  margin: 12px;
}

/* Headings ////*/

h2 {
  font-size: 150%;
  margin: 12px 0;
  border-bottom: 1px solid lightgray;
}

h3 {
  font-size: 120%;
  text-decoration: underline;
}

/* Media QUeries    */

@media all and (min-width: 600px) {
  header {
    display: flex;
    justify-content: space-between;
  }
  header h1 {
    font-size: 42px;
    margin: 14px 0 14px 14px;
  }
  header nav {
    margin-top: 0px;
  }

  header nav ul {
    margin-top: 35px;
  }

  .wrapper {
    width: 80%;
    margin: auto;
  }

  .group {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .mindset,
  .time,
  .dateNight {
    flex-grow: 1;
    margin: 10px;
  }

  .project {
    flex-grow: 1;
    margin: 10px;
  }
}

main img {
  width: 100%;
}

/* Contact Form - Image */

.contact-image {
  border: 1px solid #ababab;
  border-radius: 8px;
}

/* Contact Form Design */

form {
  padding-right: 6px;
  /* Fixed small sizing issue on the right */
}

form input,
form textarea {
  width: 100%;
  margin-bottom: 20px;
}

form textarea {
  height: 160px;
}
